.main {
    margin: 10px;
}
.item-name {
    margin: 20px auto;
    color: white;
}

.item-image, .item-info{
    display: inline-block;
}

.item-image {
    margin-right: 30px;
    margin-bottom: 20px;
}

.item-status-sub {
    display: inline-flex;
    justify-content: space-between;
}
