.form-group {
    display: flex;
}
label {
    width: 100px;
    font-weight: bold;
}
.form-group:nth-child(1) label::after,
.form-group:nth-child(3) label::after,
.form-group:nth-child(4) label::after {
    content: "*";
    color: red;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.btn a{
    color: white;
}
a:hover {
    text-decoration: none;
}
.btn {
    margin-right: 10px;
}