h1 {
  text-align: center;
}
.btn {
  margin-bottom: 20px;
}
thead {
  background-color: #555555;
  color: white;
}
tbody tr:nth-child(odd) {
  background-color: #999999;
}
a {
  font-weight: bold;
}
a:hover {
  text-decoration: none;
  color: green;
}
.edit {
  color: blue;
  margin-right: 5px;
}
.delete {
  color: red;
}
.btn a {
  color: white;
}
.btn a:hover {
  color: white;
}