* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 242, 245);
}
main {
  padding: 7.5px 15px;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.login-form {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 15px;
  border: 2px dotted #cccccc;
  border-radius: 10px;
  margin-left: 100px;
}

.input-box {
  margin-bottom: 10px;
}
.input-box input {
  padding: 15px 15px;
  width: 100%;
  border: 1px solid #cccccc;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
}
.btn-box {
  text-align: center;
}
.btn-box a {
  color: white;
  text-decoration: none;
}
.btn-box button {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(24, 119, 242);
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bolder;
}

.login-content {
  display: inline-block;
  width: 400px;
}

img {
  width: 300px;
}

#login-text {
  font-size: 25px;
}
.quenmatkhau {
  text-align: center;
  padding: 20px;
}

.quenmatkhau a {
  text-decoration: none;
  font-size: 14px;
  color: rgb(80, 135, 206);
}

.btn-box-new-account {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.btn-box-new-account a {
  text-decoration: none;
  color: white;
}
.btn-box-new-account button {
  width: 60%;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(66, 183, 42);
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bolder;
}
