* {
  box-sizing: border-box;
  font-family: serif;
  padding: 0;
  margin: 0;
}
main {
  padding: 20px;
}
.menu ul {
  width: 150px;
  list-style-type: none;
  text-align: left;
}
.menu li {
  width: auto;
  height: 30px;
  line-height: 25px;
  font-size: 15px;
  border-bottom: 1px solid #e8e8e8;
  padding-left: 10px;
}
.menu li a {
  text-decoration: none;
  color: gray;
  display: block;
}
.menu ul li {
  position: relative;
}
.menu .sub-menu {
  position: absolute;
  left: 150px;
  top: 0;
  display: none;
}
.menu li a:hover {
  color: orangered;
}
.menu li:hover .sub-menu {
  display: block;
}
