* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: lightcoral;
}

.top {
    width: 100%;
    height: 50px;
    background-color: inherit;
}

.left {
    width: 20%;
    height: calc(100% - 50px);
    background-color: inherit;
}

.main {
    width: 60%;
    height: calc(100% - 50px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    background-color: yellow;
}

.item {
    border: 1px solid black;
    background-color: blue;
}

.right {
    width: 20%;
    height: calc(100% - 50px);
    background-color: inherit;
}

@media screen and (max-width: 640px) {
    html, body {
        width: 100%;
    }
    .left, .right {
        width: 15px;
        height: 450%;
    }

    .main {
        width: calc(100% - 50px);
        height: 450%;
        grid-template-columns: 1fr;
        grid-auto-rows: calc((100vh - 60px)/2);    
    }
}
