@font-face {
  font-family: "work_sans";
  src: url("../fonts/WorkSans-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/WorkSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* Class */
.container,
.container-fluid {
  padding: 0;
}
p {
  margin: 0;
}
.btn:active {
  border: none;
  outline: none;
}
/* Main */
.wrapper {
  max-width: 1920px;
  font-family: "work_sans";
  color: white;
  margin-left: auto;
  margin-right: auto;
}
/* Header */
header {
  background-image: url("../imgs/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  width: 70%;
  padding: 60px 0 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-bottom: 120px;
}
.top {
  padding-bottom: 100px;
}
.nav-item {
  padding-left: 40px;
}
.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white;
}
.nav-link:hover {
  color: white;
}
.navbar-collapse > .navbar-nav > .nav-item {
  padding-left: 0;
}

.menu-btn {
  background: #14b45c;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: white;
  width: 135px;
}
.bottom {
  padding-bottom: 133px;
}
.bottom-content {
  max-width: 500px;
  margin-right: 90px;
}
.bottom-image {
  width: 100%;
}
.bottom-content-text {
  padding-top: 200px;
}
.bottom-content-text div p {
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  margin: 0;
}
.info {
  font-size: 16px;
  line-height: 28px;
  color: #a1a4ac;
  margin: 30px 0;
}
.bottom-button > .btn {
  width: 210px;
  margin-right: 30px;
  height: 50px;
}
.btn-left {
  background: #14b45c;
  box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: white;
}
.btn-right {
  padding: 0;
}
.btn-right img {
  margin-right: 10px;
}
.btn-right span {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: white;
}
/* Features */
.feature-wrapper {
  color: #1c1f28;
  margin-bottom: 160px;
}
.feature-wrapper > .title {
  font-size: 34px;
  line-height: 40px;
  text-align: center;
}
.feature-content {
  padding: 80px 50px 70px;
}
.feature-name {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 25px;
}
.feature-detail {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #a1a4ac;
  text-align: center;
}
/* Product */
.product-info {
  background-image: url("../imgs/product-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product-detail {
  padding-top: 120px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.product > .detail:nth-child(1) {
  margin-bottom: 80px;
}
.detail {
  padding: 40px 40px 60px 40px;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.detail-icon > .active {
  display: none;
}
.detail:hover {
  box-shadow: 0px 10px 50px rgba(7, 42, 68, 0.04);
  opacity: 1;
}
.detail:hover .detail-icon > .active {
  display: block;
}
.detail:hover .detail-icon > .inactive {
  display: none;
}
.detail-name {
  font-size: 24px;
  line-height: 28px;
  color: #1c1f28;
}
.detail-top {
  margin-bottom: 40px;
}
.detail-bottom {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #7a7c82;
}
.download {
  padding-bottom: 180px;
}
.download-btn {
  width: 205px;
  background: #14b45c;
  box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
}
/* About */
.about {
    position: relative;
}
.oval-left  {
    position: absolute;
    top: 0;
}
.about-me {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 280px;
    margin-bottom: 280px;
}
.about-me-title h3{
    font-size: 34px;
    line-height: 39.88px;
    color: #1C1F28;
    margin-bottom: 12px;
}
.about-me-title p {
    font-size: 18px;
    line-height: 24px;
    color:#7A7C82;
    margin-bottom: 80px;
}
.about-item {
    width: 30%;
    margin-bottom: 60px;
}
.about-item h4 {
    font-size: 24px;
    line-height: 28px;
    color: #1C1F28;
    padding-top: 30px;
    padding-bottom: 10px;
}
.about-item p {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #A1A4AC;
    padding-bottom: 30px;
}
.learn-more-btn {
    width: 206px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1C1F28;
    background: #FFFFFF;
    border: 1px solid #1C1F28;
    border-radius: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}
@media screen and (max-width: 576px) {
  .top {
    width: 100%;
    padding: 20px;
  }
  .logo {
    align-self: start;
  }
  .navbar-toggler-icon {
    display: flex;
  }
}
