* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

table,
tr,
.name {
  border: 1px solid rgb(218, 202, 202);
}

th,
td {
  text-align: center;
  padding: 10px;
  width: 100px;
}

td {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 150%;
}

#title,
#link,
.name {
  width: 80px;
  font-size: 100%;
  font-weight: 400;
}

#title,
#link {
  text-align: left;
}

#title {
  background-color: red;
  color: white;
  border: 1px solid red;
}

#madb {
  color: blue;
  font-weight: 400;
}

#giaidb {
  color: red;
  font-size: xx-large;
}

.giai7 {
  color: red;
  font-size: xx-large;
}

.gray {
  background-color: rgb(241, 235, 235);
}
